@import './variables';
// Genereal button styling

.btn{
    // border-radius: 8px;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: $font2;
    font-weight: 700;
    color: white;
    overflow: hidden;
    margin: 5px;
    border-radius: 3px;
    border: none;
    background: $color1;
    a {
        color: none;
        text-decoration: none;
        outline: none;
    }
}
.btn:active{
    outline: none;
    background: rgb(26, 72, 199);
    -moz-outline-radius: 3px;
}
.btn:focus{
    outline: white 2px solid;
}
.btn-cancel{
    background: none;
    border: solid black 2px;
    border-radius: 5px;
    color: black;
    &:hover{
    border-color: rgb(159, 159, 159);
    color: rgb(159, 159, 159);
    }
    &:focus{
        outline: none;
    }
}
.btn-info{
    background: rgb(248, 226, 22);
    color: black;
    &:hover{
    background: rgb(248, 207, 22);
    color: black;
    }
    &:focus{
        outline: none;
    }
}
.btn-danger{
    color: white;
    background: rgb(255, 45, 18);
    &:hover{
    background: rgb(169, 24, 4);
    color: rgb(255, 255, 255);
    }
}
.btn-confirm{
    color: white;
    background: rgb(21, 221, 214);
    &:hover{
    background: rgb(0, 255, 247);
    color: rgb(255, 255, 255);
    }
}