@import './variables';
// Genereal button styling

.btn{
    // border-radius: 8px;
    box-sizing: border-box;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: $font2;
    font-weight: 700;
    color: white;
    overflow: hidden;
    padding: 0 0.7rem 0 0.7rem;
    margin: 5px;
    border-radius: 3px;
    border: none;
    background: $color1;
}
.btn:focus{
    outline: solid rgb(194, 194, 194) 2px;
    -moz-outline-radius: 3px;
}
.btn-info{
    background: rgb(248, 226, 22);
    color: black;
    &:hover{
    background: rgb(248, 207, 22);
    color: black;
    }
    &:focus{
        outline: none;
    }
}
.btn-danger{
    color: white;
    background: rgb(255, 45, 18);
    &:hover{
    background: rgb(216, 36, 13);
    color: rgb(255, 255, 255);
    }
}
