@import './variables';
@import './buttons';

/* SITE WIDE STYLING */* {
    box-sizing: border-box;
    margin: 0;
}

/* SITE WIDE STYLING */
body {
    height: fit-content;
    margin: 0;
    align-items: center;
    background: rgb(245, 245, 245);
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // border: solid black 3px;
    padding: 2rem;
}
.title{
    font-family: $font1;
    font-size: 2rem;
    z-index: 100;
    margin-bottom: 1rem;
}
.section{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    // border: solid black 2px;
    padding: 1rem 0 1rem 0;
}

// General statsbar styling
#stats{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.stat{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 5rem;
    padding: 1rem;
    border-left: solid $color1 7px;
    box-shadow: rgb(236, 236, 236) 0 0 10px 10px;
    border-radius: 5px;
    background: white;
    margin-right: 1rem;
    overflow: hidden;

    .title{
        width: 80%;
        font-size: 1rem;
        font-family: $font2;
        font-weight: 100;
        color: $color1;
        margin: 0;
    }
    .value{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-family: $font1;
        font-size: 2rem;
        font-weight: 700;
    }
}
// Card styling
.card{
    height: fit fit-content;
    min-height: 2rem;
    position: relative;
    background: white;
    border: solid rgb(255, 255, 255) 1px;
    box-shadow: rgb(226, 226, 226) 0 0 10px 5px;
    border-radius: 6px;
    margin-bottom: 2rem;
    margin-right: 2rem;
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: solid rgb(226, 226, 226) 1px;

        h2{
            font-size: 1.2rem;
            font-family: $font1;
            color: $color1;
            margin-right: 2rem;
        }
        h4{
            font-size: 0.8rem;
            font-family: $font2;
            text-transform: uppercase;
        }
    }
    .body{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 1rem;
    }
}
.card-lg{
    width: 60%;
}
.card-md{
    width: 35%;
}
// Table
table {
    width: 100%;
    border: solid rgb(122, 122, 122) 1px;
    border-collapse: collapse;
    color: grey;
    /* background: blue; */
}
table th{
    height: 1.5rem;
    /* border: solid black 1px; */
}
table td{
    height: 2.5rem;
    border: solid rgb(126, 126, 126) 1px;
    text-align: right;
    padding: 2px;
}

