.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  overflow: hidden;
  padding: 0 0.7rem 0 0.7rem;
  margin: 4px 0 4px 0;
  border-radius: 3px;
  border: none;
  background: #2457e4;
}

.btn:hover {
  background: #1f4abe;
  color: white;
}

.btn:focus {
  outline: solid #c2c2c2 2px;
  -moz-outline-radius: 3px;
}

.btn-info {
  background: #f8e216;
  color: black;
}

.btn-info:hover {
  background: #cab814;
  color: white;
}

.btn-danger {
  color: white;
  background: #ff2d12;
}

table {
  width: 100%;
  border: solid #cfcfcf 1px;
  border-collapse: collapse;
  color: #424242;
  overflow: hidden;
}

table th, table td {
  height: 2rem;
  width: 16%;
  font-family: 'Nunito', sans-serif;
  font-size: 0.7rem;
  color: grey;
  text-align: left;
  padding: 0 0  0 8px;
  border: solid #e6e6e6 1px;
}

table th {
  border-bottom: solid #cfcfcf 2px;
  font-weight: 700;
}

table tr:hover {
  background: #f7f7f7;
  cursor: default;
}

table tr:first-child:hover {
  background: none;
}

/* SITE WIDE STYLING */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/* SITE WIDE STYLING */
body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
}

hr {
  border: none;
  background: #e4e4e4;
  height: 2px;
}

.content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  z-index: 100;
}

.section {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0 0.5rem 0;
}

#stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#stat1 {
  border-color: solid #2457e4 7px;
  color: #2457e4;
}

#stat2 {
  border-color: #0cac6e;
  color: #0cac6e;
}

#stat3 {
  border-color: #13b1bd;
  color: #0cac6e;
}

#stat4 {
  border-color: #f03d10;
  color: #0cac6e;
}

.stat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 4rem;
  padding: 1rem;
  border-left-style: solid;
  border-left-width: 4px;
  -webkit-box-shadow: #ececec 0 0 10px 10px;
          box-shadow: #ececec 0 0 10px 10px;
  border-radius: 5px;
  background: white;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  z-index: 100;
}

.stat > .title {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #2457e4;
  margin: 0;
}

.stat .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.card {
  height: fit -webkit-fit-content;
  height: fit -moz-fit-content;
  height: fit fit-content;
  min-height: 2rem;
  position: relative;
  background: white;
  -webkit-box-shadow: #e2e2e2 0 0 10px 9px;
          box-shadow: #e2e2e2 0 0 10px 9px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: solid #e2e2e2 1px;
  background: #f7f7f7;
}

.card header h2 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #2457e4;
  margin-right: 2rem;
}

.card header h4 {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: #b3b3b3;
}

.card .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.card-lg {
  width: 60%;
}

.card-md {
  width: 37%;
}
/*# sourceMappingURL=base.css.map */