@import './variables';
@import './buttons';
@import './tables';

/* SITE WIDE STYLING */* {
    box-sizing: border-box;
    margin: 0;
}

/* SITE WIDE STYLING */
body {
    height: fit-content;
    margin: 0;
    align-items: center;
    background: rgb(247, 247, 247);
}
hr{
    border: none;
    background: rgb(228, 228, 228);
    height: 2px;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // border: solid black 3px;
    padding: 2rem;
}
.title{
    font-family: $font1;
    font-size: 2rem;
    z-index: 100;
}
.section{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    // border: solid black 2px;
    padding: 0.5rem 0 0.5rem 0;
}

// General statsbar styling
#stats{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#stat1{
    border-color: solid $color1 7px;
    color: $color1;
}
#stat2{
    border-color: rgb(12, 172, 110);
    color: rgb(12, 172, 110);
}
#stat3{
    border-color: rgb(19, 177, 189);
    color: rgb(12, 172, 110);
}
#stat4{
    border-color: rgb(240, 61, 16);
    color: rgb(12, 172, 110);
}
.stat{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    height: 4rem;
    padding: 1rem;
    border-left-style: solid;
    border-left-width: 4px;
    box-shadow: rgb(236, 236, 236) 0 0 10px 10px;
    border-radius: 5px;
    background: white;
    margin: 0 1rem 1rem 0;
    overflow: hidden;
    z-index: 100;

    > .title{
        font-size: 12px;
        font-family: $font2;
        font-weight: 700;
        color: $color1;
        margin: 0;
    }
    .value{
        // width: 20%;
        display: flex;
        font-family: $font1;
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }
}
// Card styling
.card{
    height: fit fit-content;
    min-height: 2rem;
    position: relative;
    background: white;
    box-shadow: rgb(226, 226, 226) 0 0 10px 9px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 2rem;
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: solid rgb(226, 226, 226) 1px;
        background: rgb(247, 247, 247);

        h2{
            font-size: 1.2rem;
            font-family: $font1;
            color: $color1;
            margin-right: 2rem;
        }
        h4{
            font-size: 0.8rem;
            font-family: $font2;
            color: rgb(179, 179, 179);
            // text-transform: uppercase;
        }
    }
    .body{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 1rem 1.5rem 1rem 1.5rem;

    }
}
.card-lg{
    width: 60%;
}
.card-md{
    width: 37%;
}

