@import './variables';
@import './buttons';
@import './tables';

.slot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 1rem;
    .name{
        font-family: $font1;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
        text-transform: lowercase;
        color: rgb(177, 177, 177);
        color: $color1;
        margin: 7px;
    }
}