@import './variables';
@import './buttons';
@import './tables';

.slot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 2rem;
    .name{
        font-family: $font1;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        text-align: left;
        text-transform: lowercase;
        // background: #496179;
        border-radius: 5px 5px 0 0 ;
        margin: 0;
        padding: 4px;
    }
}