{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{Customer Name}</title>
{% endblock %}

{% block stats %}

{% endblock%}

{% block content %}
<!-- <div class="section">

</div> -->
<!-- <h1>{{timeslot}}</h1> -->
<div class="card">
    <header>
        <h2>All Customers</h2>
        <h4>Total Customers: {{residents.count}}</h4>
    </header>

    <div class="body" id="customers">
        <div class="searchbar">
            <form method="get">
                {{myFilter.form}}

                <button class='btn btn-info' type='submit'>Search</button>
            </form>
        </div>

        <table class="table-slot">
            <tr>
                <th id="name">Name</th>
                <th>Apartment</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date Added</th>
                <th>New Reservation</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for resident in residents %}
            <tr class="data">
                <td>{{resident.name}}</td>
                <td>{{resident.apt}}</td>
                <td>{{resident.email}}</td>
                <td>{{resident.phone}}</td>
                <td>{{resident.date_created}}</td>
                
                {% if time_id != None %}
                    <td><button class="btn"><a href="{% url 'create_reservation' time_id resident.id %}">Create Reservation +</a></button></td>
                    
                {% else %}
                    <td><button class="btn"><a href="{% url 'create_reservation' None resident.id %}">Create Reservation +</a></button></td>
                {% endif %}

                
                <td><button class='btn btn-info'><a href="{% url 'create_reservation' resident.id 5 %}">Update</a></button></td>
                <td><button class='btn btn-danger'>Delete</button></td>


            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}