{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/confirmation_page.css' %}">

{% block left_strip%}
<!-- <button class="container">
    Cancel Reservation
</button> -->
{% endblock %}


{% block center %}
<div class="container">
    <h1>Your Reservation</h1>
    <h2>{{ time_slot}}</h2>
    <div class="details">
        <h3>Saturday Aril 5th is booked</h3>
        <p>Please remember to show up to you reservation at a reasonable time</p>
    </div>
    <button class="button">
        Change Reservation
    </button>
</div>

{% endblock %}

{% block right_side %}
{% endblock %}