{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<title>Dashboard</title>
{% endblock %}

{% block content %}
<h1 class="title">Dashboard</h1>
<div id="stats" class="section">
    <div class="stat">
        <h2 class="title">Total Reservations Today</h2>
        <h3 class="value">3</h3>
    </div>
</div>

<hr>

<div class="section">

    <div class="card">
        <header>
            <h2>Bookings Tomorrow</h2>
            <h4>Date Goes Here</h4>
        </header>

        <div class="body">
            <div class="slot">
                <h3 class="name">9-11am</h3>
                <table>
                    <tr>
                        <th></th>
                        <th id="name">Name</th>
                        <th>View</th>
                        <th>Apartment</th>
                        <th>Phone</th>
                        <th>Party of</th>
                    </tr>
    
                    <tr class="data">
                        <td>{customer.name}</td>
                        <td>{customer.apartment}</td>
                        <td>{customer.phone}</td>
                        <td>{reservation.size}</td>
                        <td><a href="">View</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- <div class="card">
        <header>
            <h2>Manage Residents</h2>
            <button>Create Resident</button>
        </header>

        <div class="body">
        </div>
    </div> -->
</div>

{% endblock %}