{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<title>Dashboard</title>
{% endblock %}

{% block content %}
<h1 class="title">Dashboard</h1>
<div id="stats" class="section">
    <div class="stat">
        <h2 class="title">Total Reservations Today</h2>
        <h3 class="value">3</h3>
    </div>
</div>

<hr>

<div class="section">

    <div class="card">
        <header>
            <h2>Bookings Tomorrow</h2>
            <h4>{{next_day.today}}</h4>
        </header>

        <div class="body">
            {% for slot in next_day_slots %}
            <div class="slot">
                <h3 class="name">{{slot.time_slot}}</h3>
                <table>
                    <tr>
                        <th id="name">Name</th>
                        <th>View</th>
                        <th>Apartment</th>
                        <th>Phone</th>
                    </tr>
            
                    <tr class="data">
                        {% for reservation in slot.reservation_set.all %}
                        <td>{{reservation.customer}}</td>
                        <td><a href="">View</a></td>
                        <td>{{reservation.customer}}</td>
                        <td>{{reservation.customer}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- <div class="card">
        <header>
            <h2>Manage Residents</h2>
            <button>Create Resident</button>
        </header>

        <div class="body">
        </div>
    </div> -->
</div>

{% endblock %}

