{% load static %}
<h1 class="title">{{page_title}}</h1>
<div id="stats" class="section">
    <div id="stat1" class="stat">
        <h2 class="title">{{stats.stat1.name}}</h2>
        <h3 class="value">{{stats.stat1.value}}</h3>
    </div>
    <div id="stat2" class="stat">
        <h2 class="title">{{stats.stat2.name}}</h2>
        <h3 class="value">{{stats.stat2.value}}</h3>
    </div>
    <div id="stat3" class="stat">
        <h2 class="title">{{stats.stat3.name}}</h2>
        <h3 class="value">{{stats.stat3.value}}</h3>
    </div>
    <div id="stat4" class="stat">
        <h2 class="title">{{stats.stat4.name}}</h2>
        <h3 class="value">{{stats.stat4.value}}</h3>
    </div>
    <!-- <button id="big-btn" class="btn btn-info">
        <h2 class="title">Add New Resident</h2>
        <h3 class="value">+</h3>
    </button> -->
</div>

<hr>