{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<title>Residents</title>
{% endblock %}

{% block stats %}

{% endblock%}

{% block content %}
<!-- <div class="section">

</div> -->
<!-- <h1>{{timeslot}}</h1> -->
<div class="card resident-card">
    <header>
        <h2>Search Residents</h2>
        <button class="btn-info"><a href="/staff/register-user">+ add</a></button>
        
        <!-- <h4>Total Customers: {{residents.count}}< /h4> -->
    </header>

    <div class="body" id="customers">
        <div class="left-panel">
            <form id="search" method="get">
                {{myFilter.form}}
            </form>
            <button class='btn btn-search' form="search" type='submit'>Search</button>
        </div>

        <div class="right-panel">
            <table class="table-slot">
                <tr>
                    <th id="name">Name</th>
                    <th>Apartment</th>
                    <th>Email</th>
                    <th>New Reservation</th>
                </tr>

                {% for resident in page_obj %}
                <tr class="data" onclick="window.location='{% url "resident" resident.id %}';">
                    <td>{{resident.first_name}} {{resident.last_name}}</td>
                    <td>{{resident.apt}}</td>
                    <td>{{resident.email}}</td>
                    <td><button class="btn"><a href="{% url 'create_reservation' time_id resident.id %}">reserve +</a></button></td>
                </tr>
                {% endfor %}
            </table>
        

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}