{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>Residents</title>
{% endblock %}

{% block stats %}

{% endblock%}

{% block content %}
<!-- <div class="section">

</div> -->
<!-- <h1>{{timeslot}}</h1> -->
<div class="card resident-card">
    <header>
        <h2>All Customers</h2>
        <h4>Total Customers: {{residents.count}}</h4>
    </header>

    <div class="body" id="customers">
        <form class="search" method="get">
            {{myFilter.form}}
            <button class='btn btn-search' type='submit'>Search</button>
        </form>

        <table class="table-slot">
            <tr>
                <th id="name">Name</th>
                <th>Apartment</th>
                <th>Email</th>
                <th>New Reservation</th>
                <th>Update</th>
                <!-- <th>Delete</th> -->
            </tr>

            {% for resident in page_obj %}
            <tr class="data" onclick="window.location='{% url "resident" resident.id %}';">
                <td>{{resident.name}}</td>
                <td>{{resident.apt}}</td>
                <td>{{resident.email}}</td>
                <td><button class="btn"><a href="{% url 'create_reservation' time_id resident.id %}">Create Reservation
                            +</a></button></td>
                <td><button class='btn btn-info'><a
                            href="{% url 'update_resident' resident.id %}">Update</a></button></td>
                <!-- <td><button class='btn btn-danger'>Delete</button></td> -->
            </tr>
            {% endfor %}
        </table>
        <!--------------------->

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <!-- ------------------->
    </div>
</div>

{% endblock %}