{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{{day.day}}</title>
{% endblock %}

{% block stats %}

{% endblock%}

{% block content %}
<!-- <div class="section">

</div> -->

<div class="card">
    <header>
        <h2>Days</h2>
    </header>

    <div class="body">
        <table class="table-slot">
            <tr>
                <th id="name">Date</th>
                <th>Timeslots</th>
                <th>Notes</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for day in days %}
            <tr class="data" onclick="window.location='{% url 'day' day.id %}';">
                <td>{{day.day}}</td>
                <td>{{day.timeslot_set.all.count}}</td>
                <td>{{day.notes}}</td>
                <td><button class='btn btn-info'>Update</button></td>
                <td><button class='btn btn-danger'>Delete</button></td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}