{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{{day.day}}</title>
{% endblock %}

{% block stats %}

{% endblock%}

{% block content %}
<div class="card day-card">
    <header>
        <h2>Days</h2>
        <button class='btn-alternate'><a href="{% url 'create_day' %}">Add Reservation +</a></button>
    </header>

    <div class="body">
        
        <div class="left-panel">
            <form id='search' method="get">
                {{myFilter.form}}
            </form>
            <button class='btn btn-search' form='search' type='submit'>Enter</button>
        </div>

        <div class="right-panel">
            <table class="table-slot">
                <tr>
                    <th id="name">Date</th>
                    <th>Timeslots</th>
                    <th>Notes</th>
                    <th>Delete</th>
                </tr>

                {% for day in days %}
                <tr class="data" >
                    <td onclick="window.location='{% url 'day' day.id %}';">{{day.day}}</td>
                    <td>{{day.timeslot_set.all.count}}</td>
                    <td>{{day.notes}}</td>
                    <td><button class='btn btn-danger' type="submit"><a href="{% url 'delete' day.id %}">Delete</a></button></td>
                </tr>
                {% endfor %}
            </table>
            <!--------------------->

            
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <!--------------------->
        </div>
        
    </div>
</div>

{% endblock %}