
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
    <title>New Resident</title>
</head>
<body>
    <h2>Lease Members</h2>
    <h3>Enter the names of the lease members you want to add to this customer's profile</h3>
    <form method="post">
        {% csrf_token %}

        {{formset.management_form}}
        {% for field in formset %}
        <p>
            {{field.label_tag}}
            {{field}}
        
            {% if field.help_text %}
            <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}
        
            {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type='submit'>Register</button>
    </form>

</body>
</html>