
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
    <title>New Resident</title>
</head>
<body>
    <h2>Register New Resident</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}

        {% for field in form2 %}
        <p>
            {{field.label_tag}}
            {{field}}
        
            {% if field.help_text %}
            <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}
        
            {% for error in field.errors %}
        <p style="color: red;">{{error}}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type='submit'>Register</button>
    </form>

</body>
</html>