{% extends "user_templates/base.html" %}
{% load static %}
{% load tag_extras %}

{% block extra_head %}
<title>Dashboard</title>
{% endblock %}


{% block content %}



<!-- Day card -->
{% for day in days %}
<div class="card card-lg day-card" id='day'>
    <header>
        {% if day.day == today_date %}
        <h2><a href='{% url "day" day.id %}'>Today</a></h2>
        {% elif day.day == tomorrow_date %}
        <h2><a href='{% url "day" day.id %}'>Tomorrow</a></h2>
        {% else %}
        <h2><a href='{% url "day" day.id %}'>{{day}}</a></h2>
        {% endif %}

        <h4>{{day}}</h4>
    </header>

    <div class="body">
        {% for slot in day.timeslot_set.all %}
        <div class="slot">
            <h3 class="name">{{slot.time_slot}}</h3>
            <h2 class="name">{{slot.reservation_set.count}}/{{slot.capacity}}</h2>
            
            {% if slot.day != yesterday_date %}
                <button><a href="{% url 'create_reservation' slot.id customer.id %}">Make Reservation +</a></button>
            {% endif %}

            {% if slot.capacity != slot.reservation_set.count %}
                <div class="info">
                    <h1>
                        {{slot.capacity|subtract:slot.reservation_set.count}} spots left
                    </h1>
                </div>
            {% else %}
                <div class="info slot-full">
                    <h1>
                        {{slot.capacity|subtract:slot.reservation_set.count}} spots left
                    </h1>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}


{% endblock %}