{% extends "user_templates/base.html" %}
{% load static %}

{% block extra_head %}
<title>{Customer Name}</title>
{% endblock %}

{% block content %}
<div class="card card-lg reservation-card">
    <header>
        <h2>Your Reservations</h2>
        <h4>Total Reservations: {{resident.reservation_set.count}}</h4>
    </header>

    <div class="body">
        <table class="table-slot">
            <tr>
                <th id="name">Day</th>
                <th id="name">Timeslot</th>
                <th>Party Size</th>
                <th>Delete</th>
            </tr>

            {% for reservation in reservations %}
            <tr class="data">
                <td>{{reservation.timeslot.day}}</td>
                <td>{{reservation.timeslot.time_slot}}</td>
                <td>
                    ({{reservation.party_members.count}})
                    {% for person in reservation.party_members.all %}
                    {{person.full_name}},
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}