{% extends "user_templates/base.html" %}
{% load static %}

{% block extra_head %}
<title>{{page_title}}</title>
{% endblock %}


{% block content %}
<div class="section">
    <div class="card change-card">
        <header>
            <h2>Make a Reservation</h2>
        </header>

        <div class="body item-info">
            <form id="res-form" class="modify" action="" method="POST">
                {% csrf_token %}
                <h1>Going alone? Just press enter to reserve for <br> yourself now or click the green confirm button.</h1>
                <h2>Bringing somebody? Select to add them to <br> the reservation below</h2>
                <!-- {{form}} -->
                <hr>
                {{form}}
            </form>
        </div>


        <footer>
            <div class="buttons">
                <button class="btn btn-cancel">
                    <a href="{% url 'staff_dashboard' %}">
                        Cancel
                    </a>
                </button>
                <button class="btn btn-confirm" type="submit" action="submit" value="Confirm"
                    form='res-form'>Confirm</button>
            </div>
        </footer>
    </div>
</div>
{% endblock %}