{% extends "base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{Customer Name}</title>
{% endblock %}

{% block content %}
<div class="card">
    <header>
        <h1>{{resident.name}}</h1>
        <h2>{{resident.apt}}</h2>
        <h2>{{resident.phone}}</h2>
        <h2>{{resident.email}}</h2>
    </header>

    <div class="body">
        <div class="info-container">
            <h2>Name: {{resident.name}}</h2>
            <h2>Apartment: {{resident.apt_number}}</h2>
            <h2>Email: {{resident.email}}</h2>
            <h2>Phone: {{resident.phone}}</h2>
            <h2>Date Added: {{resident.date_created}}</h2>
            <h2>Notes: {{resident.notes}}</h2>
        </div>

        <table class="table-slot">
            <tr>
                <th id="name">Time</th>
                <th>Day</th>
                <th>Notes</th>
                <th>No Show</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for reservation in reservations %}
            <tr class="data">
                <td>{{reservation.timeslot}}</td>
                <td>{{reservation.timeslot.day}}</td>
                <td>{{reservation.notes}}</td>
                <td>{{reservation.no_show}}</td>
                <td><button class='btn btn-info'>Update</button></td>
                <td><button class='btn btn-danger'>Delete</button></td>


            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}