{% extends "base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/home.css' %}">
<title>Dashboard</title>
{% endblock %}


{% block content %}
<!-- RESIDENT CARD -->
<div class="card card-md resident-card" id='residents'>
    <header>
        <h2><a href='{% url "residents" None %}'>Recent Residents</a></h2>
        <button class="btn-info"><a href="/staff/register-user">+ add</a></button>
        <h4>Total: {{residents.count}}</h4>
    </header>

    <div class="body">
        <table class="table-resident">
            <tr>
                <th id="name">Name</th>
                <th>Email</th>
                <th>Apartment</th>
            </tr>

            {% for resident in residents %}
            <tr class="data" onclick="window.location='{% url "resident" resident.id %}';">
                <td>{{resident.first_name}} {{resident.last_name}}</td>
                <td>{{resident.email}}</td>
                <td>{{resident.apt}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Day card -->
{% for day in days %}
<div class="card card-lg day-card" id='day'>
    <header>
        {% if day.day == today_date %}
        <h2><a href='{% url "day" day.id %}'>Today</a></h2>
        {% elif day.day == tomorrow_date %}
        <h2><a href='{% url "day" day.id %}'>Tomorrow</a></h2>
        {% elif day.day == yesterday_date %}
        <h2><a href='{% url "day" day.id %}'>Yesterday</a></h2>
        {% else %}
        <h2><a href='{% url "day" day.id %}'>{{day}}</a></h2>
        {% endif %}

        <h4>{{day}}</h4>
    </header>

    <div class="body">
        {% for slot in day.timeslot_set.all %}
        <div class="slot">
            <h3 class="name">{{slot.time_slot}}</h3>
            <h2 class="name">{{slot.current_capacity}}/{{slot.capacity}}</h2>
            
            {% if slot.day.day >= yesterday_date %}
                <button><a href="{% url 'residents' slot.id %}">Add Reservation +</a></button>
            {% endif %}

            <table class="table-slot">
                <tr>
                    <th id="name">Name</th>
                    <th>Apartment</th>
                    <th>Party Size</th>
                </tr>

                {% for reservation in slot.reservation_set.all %}
                <tr class="data" onclick="window.location='{% url "resident" reservation.customer.id %}';">
                    <td>{{reservation.customer.first_name}} {{reservation.customer.last_name}}</td>
                    <td>{{reservation.customer.apt}}</td>
                    <td>{{reservation.party_members}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}


{% endblock %}