<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Bloom. You can login here or register your company to start booking pool reserverations today.</h1>
    <div>
        <button class="btn-info"><a href="/register-company/">Register Apartment</a></button>
        <button class="btn-info"><a href="/login">Login</a></button>
    </div>

    <h5>Created by Obi Ihej</h5>
    <h5>Contact me at straightup.stack@gmail.com</h5>
</body>
</html>