{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{{resident.name}}</title>
{% endblock %}

{% block content %}
<div class="card resident-card">
    <header>
        <h2>{{resident.first_name}} {{resident.last_name}}</h2>

        <button class="btn"><a href="{% url 'create_reservation' None resident.id %}">New Reservation +</a></button>
    </header>

    <div class="body">
        <div class="info-container">
            <table>
                <tr>
                    <td><h2>Name</h2></td>
                    <td>{{resident.first_name}} {{resident.last_name}}</td>
                </tr>
                <tr>
                    <td><h2>Apartment</h2></td>
                    <td>{{resident.apt}}</td>
                </tr>
                <tr>
                    <td><h2>Email</h2></td>
                    <td>{{resident.email}}</2></td>
                </tr>
                <tr>
                    <td><h2>Date Added:</h2></td>
                    <td>{{resident.date_created}}</td>
                </tr>
                <tr>
                    <td><h2>Notes</h2></td>
                    <td>{{resident.notes}}</td>
                </tr>
                <tr>
                    <td><h2>Delete Resident</h2></td>
                    <td>
                        <button class='btn btn-danger' type="submit"><a href="{% url 'deleteCustomer' resident.id %}">Delete</a>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <table class="table-slot">
            <tr>
                <th id="name">Time</th>
                <th>Day</th>
                <th>No Show</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for reservation in reservations %}
            <tr class="data">
                <td>{{reservation.timeslot}}</td>
                <td>{{reservation.timeslot.day}}</td>
                <td>{{reservation.no_show}}</td>
                <td><button class='btn btn-info'><a href="{% url 'update_reservation' reservation.id %}">Update</a></button></td>
                <td>
                    {% if slot.day.day > today_date %}
                        <button class='btn btn-danger' href="{% url 'deleteReservation' reservation.id %}">Delete</button>
                    {% endif %}
                </td>


            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}