{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{{day.day| date:"l j N o"}}</title>
{% endblock %}


{% block content %}
<div class="card day-card">
    <header>
        <h2>{{day.day| date:"l N j"}}</h2>
    </header>

    <div class="body">

        {% for slot in day.timeslot_set.all %}
        <div class="slot">
            <h3 class="name">{{slot.time_slot}}</h3>
            {% if day.day >= today %}
            <button><a href="{% url 'residents' slot.id %}">Add Reservation +</a></button>
            {% endif %}

            <table class="table-slot">
                <tr>
                    <th id="name">Name</th>
                    <th>Apartment</th>
                    <th>Phone</th>
                    <th>Total On Lease</th>
                    <th>Delete Booking</th>
                    <!-- <th>No Show</th> -->
                </tr>
        
                {% for reservation in slot.reservation_set.all %}
                <tr class="data" onclick="window.location='{% url "resident" reservation.customer.id %}';">
                    <td>{{reservation.customer.first_name}} {{reservation.customer.last_name}}</td>
                    <td>{{reservation.customer.apt}}</td>
                    <td>{{reservation.customer.email}}</td>
                    <td>{{reservation.customer.lease_member_set.count}}</td>
                    <td>
                        {% if day.day >= today %}
                            <button class='btn btn-danger' type="submit"><a href="{% url 'deleteReservation' reservation.id %}">Delete</a>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}