{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{{day.day| date:"l j N o"}}</title>
{% endblock %}


{% block content %}
<div class="card day-card">
    <header>
        <h2>{{day.day| date:"l N j"}}</h2>
    </header>

    <div class="body">

        {% for slot in day.timeslot_set.all %}
        <div class="slot">
            <h3 class="name">{{slot.time_slot}}</h3>
            <button><a href="{% url 'residents' slot.id %}">Add Reservation +</a></button>
            <table class="table-slot">
                <tr>
                    <th id="name">Name</th>
                    <th>Apartment</th>
                    <th>Phone</th>
                    <th>Total On Lease</th>
                    <!-- <th>No Show</th> -->
                </tr>
        
                {% for reservation in slot.reservation_set.all %}
                <tr class="data" onclick="window.location='{% url "resident" reservation.customer.id %}';">
                    <td>{{reservation.customer.first_name}} {{reservation.customer.last_name}}</td>
                    <td>{{reservation.customer.apt}}</td>
                    <td>{{reservation.customer.email}}</td>
                    <td>{{reservation.customer.lease_members.count}}</td>
                    <!-- <td>{{reservation.no_show}}</td> -->
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        <!-- <table class="table-slot">
            <tr>
                <th id="name">Timeslot</th>
                <th>Total Reservations</th>
                <th>Notes</th>
                <th>Capacity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for timeslot in day.timeslot_set.all %}
            <tr class="data" onclick="window.location='{% url 'timeslot' timeslot.id %}';">
                <td>{{timeslot.time_slot}}</td>
                <td>{{timeslot.reservation_set.count}}</td>
                <td>{{timeslot.notes}}</td>
                <td>{{timeslot.capacity}}</td>
                <td><button class='btn btn-info'>Update</button></td>
                <td><button class='btn btn-danger'>Delete</button></td>
            </tr>
            {% endfor %}
        </table> -->
    </div>
</div>

{% endblock %}