{% extends "../base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reservation/reservation.css' %}">
<title>{Customer Name}</title>
{% endblock %}

{% block stats %}

{% endblock%}

{% block content %}
<div class="section">

</div>
<div class="card">
    <header>
        <div>
            <button>Update Customer</button>
            <button>Delete Customer</button>
        </div>
        <h2>{{resident.name}}</h2>
        <h4>{{resident.reservation_set.all.count}}</h4>
    </header>

    <div class="body">
        <div class="info-container">
            <h2>Name: {{resident.name}}</h2>
            <h2>Apartment: {{resident.apt_number}}</h2>
            <h2>Email: {{resident.email}}</h2>
            <h2>Phone: {{resident.phone}}</h2>
            <h2>Date Added: {{resident.date_created}}</h2>
            <h2>Notes: {{resident.notes}}</h2>
        </div>

        <table class="table-slot">
            <tr>
                <th id="name">Time</th>
                <th>Party Members</th>
                <th>Notes</th>
                <th>No Show</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for reservation in reservations %}
            <tr class="data">
                <td>{{reservation.timeslot}}</td>
                <td>{{reservation.party_members}}</td>
                <td>{{reservation.notes}}</td>
                <td>{{reservation.no_show}}</td>
                <button>Update</button>
                <button>Delete</button>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}