{% extends "base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/CUD/forms.css' %}">
<title>{{page_title}}</title>
{% endblock %}


{% block content %}
<div class="section">
    <div class="card reservation-card">
        <header>
            <h2>
                New Reservation</h2>
        </header>

        <div class="body item-info">
            <form class="modify" action="" method="POST">
                {% csrf_token %}
                {{form}}

                <input class="btn btn-confirm" type="submit" action="submit" value="Confirm">
            </form>
        </div>
        
        
        <footer>
            <button class="btn btn-cancel" href="{% url 'home' %}">Cancel</button>
        </footer>
        
    </div>
</div>
{% endblock %}