{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer.css' %}">
<title>{Customer Name}</title>
{% endblock %}

{% block stats %}

{% endblock%}

{% block content %}
<div class="section">

</div>
<div class="card">
    <header>
        <h2>All Reservations</h2>
        <h4>Total Customers: {{residents.count}}</h4>
    </header>

    <div class="body">
        <table class="table-slot">
            <tr>
                <th id="name">Day</th>
                <th>Time</th>
                <th>Total Reservations</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for timeslot in timeslots %}
            <tr class="data">
                <td>{{timeslot.day}}</td>
                <td>{{timeslot.time_slot}}</td>
                <td>{{timeslot.reservation_set.count}}</td>
                <td><button class='btn btn-info'>Update</button></td>
                <td><button class='btn btn-danger'>Delete</button></td>


            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}