{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/base.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}"> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Oxygen&family=Nunito&family=Open+Sans&display=swap"
        rel="stylesheet">
    {% block extra_head %}
    {% endblock %}

</head>

<body>
    {%  include 'navbar.html' %}
    <div class="content">
        {%  include 'statsbar.html' %}
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>