$font1: 'Poppins', sans-serif;
$font2: 'Montserrat', sans-serif;
$font3: 'Nunito', sans-serif;
$color1: rgb(36, 87, 228);
$color2: rgb(12, 172, 110);
$color3: rgb(19, 177, 189);
$color4: rgb(240, 61, 16);

// BASIC FRAMEWORK ELEMENTS
body {
    height: fit-content;
    margin: 0;
    align-items: center;
    background: rgb(247, 247, 247);
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // border: solid black 3px;
    padding: 2rem;
}
.section{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    // border: solid black 2px;
    padding: 1rem 0 1rem 0;
}
.title{
    font-family: $font1;
    font-size: 2rem;
    z-index: 100;
}
hr{
    border: none;
    background: rgb(228, 228, 228);
    height: 2px;
}

// NAVBAR
.navbar{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #496179, #18222c);
    padding: 0 2rem 0 2rem;
    box-shadow: rgb(190, 190, 190) 0 0 10px 5px;

    h1{
        font-family: 'Poppins', sans-serif;
        color: white;
        // a{
        //     text-decoration: none;
        //     font-style: none;
        //     color: white;
        // }
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;

        li{
            font-family: $font1;
            font-weight: 500;
            font-size: 1rem;
            color: white;
            margin: 0 10px 0 10px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        font-family: $font1;
        font-size: 9px;
        text-transform: uppercase;
        border-radius: 50%;
        background: grey;
        color: white;
    }
}


// STATSBAR
#stats{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#stat1{
    border-color: solid $color1 7px;
    color: $color1;
}
#stat2{
    border-color: rgb(12, 172, 110);
    color: rgb(12, 172, 110);
}
#stat3{
    border-color: rgb(19, 177, 189);
    color: rgb(12, 172, 110);
}
#stat4{
    border-color: rgb(240, 61, 16);
    color: rgb(12, 172, 110);
}
.stat{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: 4rem;
    padding: 1rem;
    border-left-style: solid;
    border-left-width: 6px;
    box-shadow: rgb(236, 236, 236) 0 0 10px 10px;
    border-radius: 5px;
    background: white;
    margin-right: 2rem;
    overflow: hidden;
    z-index: 100;

    > .title{
        font-size: 12px;
        font-family: $font2;
        font-weight: 700;
        color: $color1;
        margin: 0;
    }
    .value{
        // width: 20%;
        display: flex;
        font-family: $font1;
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }
}


// COMPONENTS
// COMPONENTS-Card
.card{
    height: fit-content;
    min-height: 2rem;
    min-width: 500px;
    position: relative;
    background: white;
    box-shadow: rgb(226, 226, 226) 0 0 10px 9px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 2rem;

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: solid rgb(226, 226, 226) 1px;
        background: rgb(247, 247, 247);

        h2{
            font-size: 1rem;
            font-family: $font1;
            color: $color1;
        }
        h4{
            font-size: 0.8rem;
            font-family: $font2;
            color: rgb(179, 179, 179);
            // text-transform: uppercase;
        }
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border-top: solid rgb(226, 226, 226) 1px;
        background: rgb(247, 247, 247);

        h2{
            font-size: 0.8rem;
            font-family: $font2;
            color: $color1;
            margin-right: 2rem;
        }
        h4{
            font-size: 0.8rem;
            font-family: $font2;
            color: rgb(179, 179, 179);
            // text-transform: uppercase;
        }
    }
    .body{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 1rem 1.5rem 1rem 1.5rem;

    }
}
.card-lg{
    width: 60%;
}
.card-md{
    width: 37%;
}

// COMPONENTS-Searchbar
.searchbar{
    display: flex;
    width: 25%;
    form {
        display: flex;
        flex-direction: column;

        > *{
            width: 100%;
            font-family: $font1;
            color: grey;
            font-weight: 300;
            font-size: 0.9rem;
            text-align: left;
        }
        input{
            border: solid grey 1px;
            border-radius: 6px;
            padding: 5px;
        }
        textarea{
            height: 3rem;
            padding: 5px;
            border: solid grey 1px;
            border-radius: 6px;
            font-family: $font2;
        }
    }
}

// COMPONENTS-buttons
button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: $font2;
    font-weight: 700;
    overflow: hidden;
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin: 5px;
    // padding: 0 0.7rem 0 0.7rem;
    a{
        color: white;
        text-decoration: none;
        outline: none;
    }

    // Default button state selectors
    &:active{
        outline: none;
        -moz-outline-radius: 3px;
    }
    &:focus{
        outline: white 2px solid;
    }

    &.btn-info{
        background: rgb(26, 72, 199);
        &:hover{
            background: rgb(17, 62, 184);
        }
        &:active{
            background: rgb(7, 45, 151);
        }
        &:focus{
            outline: white 2px solid;
        }
    }
    
    &.btn-danger{
        background: rgb(228, 76, 56);
        &:hover{
            background: rgb(207, 53, 32);
        }
        &:active{
            background: rgb(179, 33, 14);
        }
        &:focus{
            outline: white 2px solid;
        }
    }

    &.btn-confirm{
        background: rgb(59, 223, 97);
        &:hover{
            background: rgb(26, 194, 65);
        }
        &:active{
            background: rgb(10, 173, 48);
        }
        &:focus{
            outline: white 2px solid;
        }
    }

    &.btn-cancel{
        background: none;
        color: black;
        border: solid black 3px;
        &:hover{
            background: rgba(184, 184, 184, 0.796);
        }
        &:active{
            color: white;
            background: rgb(47, 47, 47);
        }
        &:focus{
            color: white;
            background: black;
            outline: white 2px solid;
        }
        
    }
}

// COMPONENTS-tables
table{
    width: 100%;
    border: solid rgb(207, 207, 207) 1px;
    border-radius: 10px;
    border-collapse: collapse;
    color: rgb(66, 66, 66);
    overflow: auto;
    th, td{
        height: 2rem;
        flex-grow: 1;
        font-family: 'Nunito', sans-serif;
        font-size: 0.8rem;
        color: grey;
        text-align: left;
        padding: 0 0  0 12px;
        border: solid rgb(230, 230, 230) 1px;
        overflow-x: auto;
        word-wrap: break-word;
    }
    th{
        border-bottom: solid rgb(207, 207, 207) 2px;
        font-weight: 700;
    }
    tr:first-child{
        border-radius: 20px;
    }
    tr:first-child:hover{
        cursor: default;
        background: none;
    }
    tr:hover{
        background: rgb(245, 245, 245);
        cursor: pointer;
    }
}

// COMPONENTS-Forms
form{
    width: auto;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem 3rem 2rem;
    hr{
        width: 100%;
        height: 3px;
        background: rgb(204, 204, 204);
        border-radius: 2px;
        margin: 10px 0 10px 0;
    }
    label{
        font-family: $font1;
        font-weight: 300;
        font-size: 0.9rem;
        text-align: left;
    }
    select{
        border: solid grey 1px;
        border-radius: 6px;
        padding: 5px;
    }
    textarea{
        height: 3rem;
        padding: 5px;
        border: solid grey 1px;
        border-radius: 6px;
        font-family: $font2;

    }
}

// PAGES
// PAGES-Home
.slot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 1rem;
    .name{
        font-family: $font1;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
        text-transform: lowercase;
        color: rgb(177, 177, 177);
        color: $color1;
        margin: 7px;
    }
}

// PAGES-Reservation
.info-container{
    width: 100%;
    min-height: 10rem;
    border-radius: 6px;
    font-family: $font1;
    font-size: 8px;
    font-weight: 700;
    color: rgb(79, 79, 79);
    padding: 4px;
    margin: 0 0 1rem 0;

    h2{
        margin-bottom: 4px;
    }
}
