{% extends "base_templates/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/CUD/delete.css' %}">
<title>Delete</title>
{% endblock %}


{% block content %}
<div class="section">
    <div class="card">
        <header>
            <h2>Delete</h2>
        </header>


        <form action="{% url 'delete' item.id  %}" method="POST">
            <div class="info-container">
                <h1>Are you sure you want to delete this day? "{{item}}"?</h1>
            </div>

            {% csrf_token %}
            <div class='buttons'>
                <button class="btn btn-cancel" href="{% url 'home' %}">
                    Cancel
                </button>

                <input class="btn btn-danger" type="submit" name="Confirm">
            </div>


        </form>


    </div>
</div>
{% endblock %}