@import '../main/variables';
@import '../main/buttons';


.info-container{
    width: 100%;
    min-height: 10rem;
    border-radius: 6px;
    font-family: $font1;
    font-size: 8px;
    font-weight: 700;
    color: rgb(79, 79, 79);
    padding: 4px;
    margin: 0 0 1rem 0;

    h2{
        margin-bottom: 4px;
    }
}